# IBM Data Science Capstone Project
## Lab 3: SQL & Exploratory Data Analysis (EDA) – SpaceX Falcon 9 First Stage Landing Prediction

# Overview of the Dataset
SpaceX has gained worldwide attention for a series of historic milestones. It is the only private company ever to return a spacecraft from low-Earth orbit, which it first accomplished in December 2010.</br>

SpaceX advertises Falcon 9 rocket launches on its website with a cost of $62 million, whereas other providers cost upward of $165 million. Much of the savings come from the ability of SpaceX to reuse the first stage of the rocket.<br/>

If we can predict whether the first stage will land successfully, we can estimate launch costs and help other companies make competitive bids against SpaceX.<br/>

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

#  Setup and Data Loading

In [23]:
import pandas as pd

# Load data from the source
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Install Required Packages

In [ ]:
!pip install ipython-sql
!pip install ipython-sql prettytable

# Connect to the Database

In [4]:
import sqlite3
import csv
import prettytable
prettytable.DEFAULT = 'DEFAULT'

# Create database connection
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Load SQL extension
%load_ext sql

# Connect to the database using SQL magic
%sql sqlite:///my_data1.db

# Upload the DataFrame to SQLite

In [5]:
# Upload dataframe to SQLite
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

101

## Clean Up the Table (Remove Blank Dates)

In [ ]:
%%sql

-- Drop existing table if it exists
DROP TABLE IF EXISTS SPACEXTABLE;

-- Create a new table without blank dates
CREATE TABLE SPACEXTABLE AS 
SELECT * FROM SPACEXTBL 
WHERE Date IS NOT NULL;

## SQL Tasks
### Task 1: Display the names of the unique launch sites

In [ ]:
%%sql sqlite:///my_data1.db

SELECT DISTINCT Launch_Site 
FROM SPACEXTABLE;

### Task 2: Display 5 records where launch sites begin with 'CCA'

In [ ]:
%%sql sqlite:///my_data1.db

SELECT * 
FROM SPACEXTABLE 
WHERE Launch_Site LIKE 'CCA%' 
LIMIT 5;

### Task 3: Display the total payload mass carried by boosters launched by NASA (CRS)

In [ ]:
%%sql sqlite:///my_data1.db
SELECT SUM(PAYLOAD_MASS__KG_) AS Total_Payload_Mass 
FROM SPACEXTABLE 
WHERE Customer LIKE '%NASA (CRS)%';

### Task 4: Display average payload mass carried by booster version F9 v1.1

In [ ]:
%%sql sqlite:///my_data1.db
SELECT AVG(PAYLOAD_MASS__KG_) AS Average_Payload 
FROM SPACEXTABLE 
WHERE Booster_Version = 'F9 v1.1';

### Task 5: List the date when the first successful ground pad landing was achieved

In [ ]:
%%sql sqlite:///my_data1.db
SELECT MIN(Date) AS First_Successful_Landing 
FROM SPACEXTABLE 
WHERE "Landing_Outcome" = 'Success (ground pad)';

### Task 6: List booster names that successfully landed on a drone ship and had payload between 4000 and 6000

In [ ]:
%%sql sqlite:///my_data1.db
SELECT Booster_Version 
FROM SPACEXTABLE 
WHERE "Landing_Outcome" = 'Success (drone ship)' 
  AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000;

###  Task 7: Total number of successful and failed mission outcomes

In [ ]:
%%sql sqlite:///my_data1.db
SELECT "Landing_Outcome", COUNT(*) AS Count 
FROM SPACEXTABLE 
GROUP BY "Landing_Outcome";

### Task 8: Booster versions that carried the maximum payload mass

In [ ]:
%%sql sqlite:///my_data1.db
SELECT Booster_Version, PAYLOAD_MASS__KG_ 
FROM SPACEXTABLE 
WHERE PAYLOAD_MASS__KG_ = (
  SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE
);

###  Task 9: Show month, failed drone ship landings, booster version, and launch site in 2015

In [ ]:
%%sql sqlite:///my_data1.db
SELECT substr(Date, 6, 2) AS Month, 
       "Landing_Outcome", 
       Booster_Version, 
       Launch_Site 
FROM SPACEXTABLE 
WHERE "Landing_Outcome" = 'Failure (drone ship)' 
  AND substr(Date, 1, 4) = '2015';

### Task 10: Rank count of landing outcomes (descending) between 2010-06-04 and 2017-03-20

In [ ]:
%%sql sqlite:///my_data1.db
SELECT "Landing_Outcome", COUNT(*) AS Outcome_Count 
FROM SPACEXTABLE 
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' 
GROUP BY "Landing_Outcome" 
ORDER BY Outcome_Count DESC;

#### Complete Lab 3: SQL & Exploratory Data Analysis (EDA) – SpaceX Falcon 9 First Stage Landing Prediction
Md. Anwar Hossain